{% extends 'base/base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}

{% block content %}

        <section class="breadcrumb_area" style="background-image: url('{% static 'assets/img/Img-08.jpg' %}'); background-position:  center center; background-repeat: no-repeat; background-size: cover;">
            <div class="container">
                <div class="breadcrumb_content text-center">
                    <h1 class="f_p f_700 f_size_50 w_color l_height50 mb_20">Dashboard</h1>
                    <!-- <p class="f_400 w_color f_size_16 l_height26">Why I say old chap that is spiffing off his nut arse pear shaped plastered<br> Jeffrey bodge barney some dodgy.!!</p> -->
                </div>
            </div>
        </section>

        <section class="contact_info_area sec_pad bg_color">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 pr-0">
                        <div class="contact_info_item">
                            <h6 class="f_p f_size_20 t_color3 f_500 mb_20">Welcome, {{ request.user }}!</h6>
                            <p class="f_400 f_size_15">Use the form to introduce your project and requests for designs.</p>
                        </div>
                    </div>
                    <div class="col-lg-8 offset-lg-1">
                        <div class="contact_form">
                            <form action="." class="contact_form_box" method="post" id="contactForm2" novalidate="novalidate">
                                {% csrf_token %}
                                
                                {% if messages %}
                                    {% for message in messages %}
                                    <div class="alert success">
                                        <div class="alert_body">
                                            <i class="icon-close"></i>
                                            {{ message }}
                                        </div>
                                        <div class="alert_close"><i class="icon_close"></i></div>
                                    </div>
                                    {% endfor %}
                                {% endif %}      
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group text_box">
                                            <input type="text" id="subject" name="purpose" placeholder="Purpose: Sales or Subscribers?">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group text_box">
                                            <textarea id="message" name="brief" placeholder="Project Description"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group text_box">
                                            <input type="url" name="url" placeholder="Project website or URL">
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn_three">Send Request</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}