{% extends 'base/base.html' %}
{% load static %}
{% block title %}How it Works{% endblock %}

{% block content %}
        
        <section class="breadcrumb_area">
            <img class="breadcrumb_shap" src="{% static 'assets/img/breadcrumb/banner_bg.png' %}" alt="">
            <div class="container">
                <div class="breadcrumb_content text-center">
                    <h1 class="f_p f_700 f_size_50 w_color l_height50 mb_20">How it works</h1>
                    <p class="f_400 w_color f_size_16 l_height26">Use our smart-system to push your orders from the dashboard. Tell us about your project and we will swoop into action</p>
                </div>
            </div>
        </section>

        <section class="process_area bg_color sec_pad">
            <div class="container">
                <div class="features_info">
                    <img class="dot_img" src="{% static 'assets/img/process/divider.png' %}" alt="">
                    <div class="row agency_featured_item agency_featured_item_two">
                        <div class="col-md-6">
                            <div class="agency_featured_img text-right">
                                <img src="{% static 'assets/img/process/process_1.png' %}" alt="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="agency_featured_content pl_100">
                                <div class="dot"><span class="dot1"></span><span class="dot2"></span></div>
                                <!-- <img class="number" src="{% static 'assets/img/home4/icon01.png' %}" alt=""> -->
                                <h3>Choose a plan that fits with your goal</h3>
                                <p>What are you trying to achieve, sales or subscribers? Choose the right plan that fits your needs, register for an account and instantly get access to your personal dashboard.</p>
                                {% if request.user.is_authenticated %}
                                    <a href="{% url 'core:dashboard' %}" class="icon mt_30"><i class="ti-arrow-right"></i></a>
                                {% else %}
                                    <a href="{% url 'core:pricing' %}" class="icon mt_30"><i class="ti-arrow-right"></i></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row agency_featured_item flex-row-reverse">
                        <div class="col-md-6">
                            <div class="agency_featured_img text-right">
                                <img src="{% static 'assets/img/process/process_3.png' %}" alt="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="agency_featured_content pr_70 pl_70">
                                <div class="dot"><span class="dot1"></span><span class="dot2"></span></div>
                                <!-- <img class="number" src="{% static 'assets/img/home4/icon02.png' %}" alt=""> -->
                                <h3>Tell us about your project</h3>
                                <p>From your dashboard, share your product's URL, description and first marketing goal with us. Tell us about target audience, their demographics, problems your product/service solves.</p>
                                {% if request.user.is_authenticated %}
                                    <a href="{% url 'core:dashboard' %}" class="icon mt_30"><i class="ti-arrow-right"></i></a>
                                {% else %}
                                    <a href="{% url 'core:pricing' %}" class="icon mt_30"><i class="ti-arrow-right"></i></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row agency_featured_item agency_featured_item_two">
                        <div class="col-md-6">
                            <div class="agency_featured_img text-right">
                                <img src="{% static 'assets/img/process/process_4.png' %}" alt="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="agency_featured_content pl_100">
                                <div class="dot"><span class="dot1"></span><span class="dot2"></span></div>
                                <!-- <img class="number" src="{% static 'assets/img/process/icon3.png' %}" alt=""> -->
                                <h3>Get a weekly supply of the ads you need</h3>
                                <p>Time to get the best out of your marketing. You've done the hard part! We'll take over the creation of your ads and supply you a weekly dose of ads for your campaign. And yes! You can ask for tweaks and changes at no extra cost!</p>
                                {% if request.user.is_authenticated %}
                                    <a href="{% url 'core:dashboard' %}" class="icon mt_30"><i class="ti-arrow-right"></i></a>
                                {% else %}
                                    <a href="{% url 'core:pricing' %}" class="icon mt_30"><i class="ti-arrow-right"></i></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="dot middle_dot"><span class="dot1"></span><span class="dot2"></span></div>
                </div>
            </div>
        </section>

{% endblock %}