{% extends 'base/base.html' %}
{% load static %}
{% block title %}Pricing{% endblock %}

{% block content %}

        <section class="breadcrumb_area">
            <img class="breadcrumb_shap" src="{% static 'assets/img/breadcrumb/banner_bg.png' %}" alt="">
            <div class="container">
                <div class="breadcrumb_content text-center">
                    <h1 class="f_p f_700 f_size_50 w_color l_height50 mb_20">Our pricing</h1>
                    <p class="f_400 w_color f_size_16 l_height26">Choose any of our plans to get the best from your ads</p>
                </div>
            </div>
        </section>

        <section class="support_price_area sec_pad">
            <div class="container custom_container p0">
                <div class="sec_title text-center mb_70 wow fadeInUp" data-wow-delay="0.3s">
                    <h2 class="f_p f_size_30 l_height50 f_600 t_color3">Choose the plan that fits your demand</h2>
                    <p class="f_400 f_size_16 mb-0">We offer revenue-pumping ad designs with flexible pricing</p>
                </div>
                <div class="price_content price_content_two">
                    <div class="row">
                    <div class="col-lg-4 col-sm-6">
                        <div class="price_item">
                            <img src="{% static 'assets/img/new-home/p-1.png' %}" alt="">
                            <h5 class="f_p f_size_20 f_600 t_color2 mt_30">Trial</h5>
                            <p>Get 3X1 high-impact ads for Facebook, Instagram, and Twitter now</p>
                            <div class="price f_700 f_size_40 t_color2">$1.00</div>
                            <ul class="list-unstyled p_list">
                                <li><i class="ti-check"></i>1 Facebook ad</li>
                                <li><i class="ti-check"></i>1 Instagram ad</li>
                                <li><i class="ti-check"></i>1 Twitter ad</li>
                                <li><i class="ti-close"></i>No Support</li>
                                <li><i class="ti-close"></i>No Revision</li>
                            </ul>
                            <a href="https://rave.flutterwave.com/pay/bshk-trial" class="price_btn btn_hover">Get Started</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="price_item">
                            <div class="tag"><span>Recommended</span></div>
                            <img src="{% static 'assets/img/new-home/p-2.png' %}" alt="">
                            <h5 class="f_p f_size_20 f_600 t_color2 mt_30">Beta</h5>
                            <p>Get 10X3 high-impact ads for Facebook, Instagram, and Twitter every month</p>
                            <div class="price f_700 f_size_40 t_color2">$299.00<sub class="f_size_16 f_400">/ mo</sub></div>
                            <ul class="list-unstyled p_list">
                                <li><i class="ti-check"></i>10 Facebook ads</li>
                                <li><i class="ti-check"></i>10 Instagram ads</li>
                                <li><i class="ti-check"></i>10 Twitter ads</li>
                                <li><i class="ti-check"></i>Dedicated Support</li>
                                <li><i class="ti-check"></i>10 Revisions</li>
                            </ul>
                            <a href="https://rave.flutterwave.com/pay/bshk-beta" class="price_btn btn_hover">Get Started</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="price_item">
                            <img src="{% static 'assets/img/new-home/p-3.png' %}" alt="">
                            <h5 class="f_p f_size_20 f_600 t_color2 mt_30">Alpha</h5>
                            <p>Get UNLIMITED high-impact ads for Facebook, Instagram, and Twitter every month</p>
                            <div class="price f_700 f_size_40 t_color2">$599.00<sub class="f_size_16 f_400">/ mo</sub></div>
                            <ul class="list-unstyled p_list">
                                <li><i class="ti-check"></i>10 Facebook ads</li>
                                <li><i class="ti-check"></i>10 Instagram ads</li>
                                <li><i class="ti-check"></i>10 Twitter ads</li>
                                <li><i class="ti-check"></i>Dedicated Support</li>
                                <li><i class="ti-check"></i>30 Revisions</li>
                            </ul>
                            <a href="https://rave.flutterwave.com/pay/bshk-alpha" class="price_btn btn_hover">Get Started</a>
                        </div>
                    </div>
                    </div> 
                </div>
            </div>
        </section>
{% endblock %}