{% extends 'base/base.html' %}
{% load static %}
{% block title %}Samples{% endblock %}

{% block content %}

        <section class="breadcrumb_area">
            <img class="breadcrumb_shap" src="{% static 'assets/img/breadcrumb/banner_bg.png' %}" alt="">
            <div class="container">
                <div class="breadcrumb_content text-center">
                    <h1 class="f_p f_700 f_size_50 w_color l_height50 mb_20">Our samples</h1>
                    <p class="f_400 w_color f_size_16 l_height26">Get a feel of our samples ads created for the purpose of sales or subscribers</p>
                </div>
            </div>
        </section>

        <section class="portfolio_fullwidth_area bg_color">
            <div class="container">
                <div id="portfolio_filter" class="portfolio_filter mb_50">
                    <div data-filter="*" class="work_portfolio_item active">See All</div>
                    <div data-filter=".br" class="work_portfolio_item">Facebook</div>
                    <div data-filter=".web" class="work_portfolio_item">Instagram</div>
                    <div data-filter=".fashion" class="work_portfolio_item">Twitter</div>
                </div>
            </div>
            <div class="container-fluid pl-0 pr-0">
                <div class="row portfolio_gallery ml-0 mr-0" id="work-portfolio">
                    <div class="col-lg-4 col-sm-6 portfolio_item br ux p0">
                        <div class="portfolio_img">
                            <img src="{% static 'assets/img/portfolio/full-width/full_img_1.jpg' %}" alt="">
                            <div class="hover_content">
                                <a href="{% static 'assets/img/portfolio/full-width/full_img_1.jpg' %}" class="img_popup leaf"><i class="ti-plus"></i></a>
                                <div class="portfolio-description leaf">
                                    <a href="#" class="portfolio-title">
                                        <h3 class="f_500 f_size_20 f_p">Adonnis Pizza ad</h3>
                                    </a>
                                    <div class="links"><a href="#">Pizza,</a><a href="#">Food</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 portfolio_item fashion web p0">
                        <div class="portfolio_img">
                            <img src="{% static 'assets/img/portfolio/full-width/full_img_2.jpg' %}" alt="">
                            <div class="hover_content">
                                <a href="{% static 'assets/img/portfolio/full-width/full_img_2.jpg' %}" class="img_popup leaf"><i class="ti-plus"></i></a>
                                <div class="portfolio-description leaf">
                                    <a href="#" class="portfolio-title">
                                        <h3 class="f_500 f_size_20 f_p">Writing Course ad</h3>
                                    </a>
                                    <div class="links"><a href="#">Writing,</a><a href="#">Publishing</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 portfolio_item product br p0">
                        <div class="portfolio_img">
                            <img src="{% static 'assets/img/portfolio/full-width/full_img_3.jpg' %}" alt="">
                            <div class="hover_content">
                                <a href="{% static 'assets/img/portfolio/full-width/full_img_3.jpg' %}" class="img_popup leaf"><i class="ti-plus"></i></a>
                                <div class="portfolio-description leaf">
                                    <a href="#" class="portfolio-title">
                                        <h3 class="f_500 f_size_20 f_p">Cake Factory ad</h3>
                                    </a>
                                    <div class="links"><a href="#">Cake,</a><a href="#">Food</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 portfolio_item ux web p0">
                        <div class="portfolio_img">
                            <img src="{% static 'assets/img/portfolio/full-width/full_img_4.jpg' %}" alt="">
                            <div class="hover_content">
                                <a href="{% static 'assets/img/portfolio/full-width/full_img_4.jpg' %}" class="img_popup leaf"><i class="ti-plus"></i></a>
                                <div class="portfolio-description leaf">
                                    <a href="#" class="portfolio-title">
                                        <h3 class="f_500 f_size_20 f_p">Mattress ad</h3>
                                    </a>
                                    <div class="links"><a href="#">Sleep,</a><a href="#">Health</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 portfolio_item br ux p0">
                        <div class="portfolio_img">
                            <img src="{% static 'assets/img/portfolio/full-width/full_img_5.jpg' %}" alt="">
                            <div class="hover_content">
                                <a href="{% static 'assets/img/portfolio/full-width/full_img_5.jpg' %}" class="img_popup leaf"><i class="ti-plus"></i></a>
                                <div class="portfolio-description leaf">
                                    <a href="#" class="portfolio-title">
                                        <h3 class="f_500 f_size_20 f_p">Music app</h3>
                                    </a>
                                    <div class="links"><a href="#">Music,</a><a href="#">Entertainment</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 portfolio_item fashion web p0">
                        <div class="portfolio_img">
                            <img src="{% static 'assets/img/portfolio/full-width/full_img_6.jpg' %}" alt="">
                            <div class="hover_content">
                                <a href="{% static 'assets/img/portfolio/full-width/full_img_6.jpg' %}" class="img_popup leaf"><i class="ti-plus"></i></a>
                                <div class="portfolio-description leaf">
                                    <a href="#" class="portfolio-title">
                                        <h3 class="f_500 f_size_20 f_p">Beard Creame</h3>
                                    </a>
                                    <div class="links"><a href="#">Grooming,</a><a href="#">Health</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 portfolio_item product br p0">
                        <div class="portfolio_img">
                            <img src="{% static 'assets/img/portfolio/full-width/full_img_7.jpg' %}" alt="">
                            <div class="hover_content">
                                <a href="{% static 'assets/img/portfolio/full-width/full_img_7.jpg' %}" class="img_popup leaf"><i class="ti-plus"></i></a>
                                <div class="portfolio-description leaf">
                                    <a href="#" class="portfolio-title">
                                        <h3 class="f_500 f_size_20 f_p">Traveling ad</h3>
                                    </a>
                                    <div class="links"><a href="#">Traveling,</a><a href="#">Tourism</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 portfolio_item ux web p0">
                        <div class="portfolio_img">
                            <img src="{% static 'assets/img/portfolio/full-width/full_img_8.jpg' %}" alt="">
                            <div class="hover_content">
                                <a href="{% static 'assets/img/portfolio/full-width/full_img_8.jpg' %}" class="img_popup leaf"><i class="ti-plus"></i></a>
                                <div class="portfolio-description leaf">
                                    <a href="#" class="portfolio-title">
                                        <h3 class="f_500 f_size_20 f_p">Software ad</h3>
                                    </a>
                                    <div class="links"><a href="#">Ad-Blocker,</a><a href="#">Software</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 portfolio_item ux web p0">
                        <div class="portfolio_img">
                            <img src="{% static 'assets/img/portfolio/full-width/full_img_9.jpg' %}" alt="">
                            <div class="hover_content">
                                <a href="{% static 'assets/img/portfolio/full-width/full_img_9.jpg' %}" class="img_popup leaf"><i class="ti-plus"></i></a>
                                <div class="portfolio-description leaf">
                                    <a href="#" class="portfolio-title">
                                        <h3 class="f_500 f_size_20 f_p">Laundry Service ad</h3>
                                    </a>
                                    <div class="links"><a href="#">Cleaning,</a><a href="#">Laundry</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}
      