{% extends 'base/base.html' %}
{% load static %}
{% block title %}Team{% endblock %}

{% block content %}

    <section class="breadcrumb_area" style="background-image: url('{% static 'assets/img/Img-06.jpg' %}'); background-position:  center center; background-repeat: no-repeat; background-size: cover;">
        <div class="container">
            <div class="breadcrumb_content text-center">
                <h1 class="f_p f_700 f_size_50 w_color l_height50 mb_20">Meet The Team</h1>
                <!-- <p class="f_400 w_color f_size_16 l_height26">Why I say old chap that is spiffing off his nut arse pear shaped plastered<br> Jeffrey bodge barney some dodgy.!!</p> -->
            </div>
        </div>
    </section>

    <section class="experts_team_area sec_pad">
        <div class="container">
            <div class="sec_title text-center mb_70">
                <h2 class="f_p f_size_30 l_height30 f_700 t_color3 mb_20">The Experts Team</h2>
                <p class="f_400 f_size_16">Time to meet the guys behind the scene. We are ready to introduce ourselves to you<br> A team of these guys work relentlessly to make your ads perform better!</p>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="ex_team_item">
                        <img src="{% static 'assets/img/home7/team_01.jpg' %}" alt="">
                        <div class="team_content">
                            <a href="#">
                                <h3 class="f_p f_size_16 f_600 t_color3">Angie</h3>
                            </a>
                            <h5>CoFounder</h5>
                        </div>
                        <div class="hover_content">
                            <div class="n_hover_content">
                                <ul class="list-unstyled">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                                <div class="br"></div>
                                <a href="#">
                                    <h3 class="f_p f_size_16 f_600 w_color">Angie</h3>
                                </a>
                                <h5>CoFounder</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="ex_team_item">
                        <img src="{% static 'assets/img/home7/team_02.jpg' %}" alt="">
                        <div class="team_content">
                            <a href="#">
                                <h3 class="f_p f_size_16 f_600 t_color3">Larry</h3>
                            </a>
                            <h5>CoFounder</h5>
                        </div>
                        <div class="hover_content">
                            <div class="n_hover_content">
                                <ul class="list-unstyled">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                                <div class="br"></div>
                                <a href="#">
                                    <h3 class="f_p f_size_16 f_600 w_color">Larry</h3>
                                </a>
                                <h5>CoFounder</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="ex_team_item">
                        <img src="{% static 'assets/img/home7/team_03.jpg' %}" alt="">
                        <div class="team_content">
                            <a href="#">
                                <h3 class="f_p f_size_16 f_600 t_color3">Elizabeth</h3>
                            </a>
                            <h5>Team Lead</h5>
                        </div>
                        <div class="hover_content">
                            <div class="n_hover_content">
                                <ul class="list-unstyled">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                                <div class="br"></div>
                                <a href="#">
                                    <h3 class="f_p f_size_16 f_600 w_color">Elizabeth</h3>
                                </a>
                                <h5>Team Lead</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="ex_team_item">
                        <img src="{% static 'assets/img/home7/team_04.jpg' %}" alt="">
                        <div class="team_content">
                            <a href="#">
                                <h3 class="f_p f_size_16 f_600 t_color3">Charles</h3>
                            </a>
                            <h5>Creative Director</h5>
                        </div>
                        <div class="hover_content">
                            <div class="n_hover_content">
                                <ul class="list-unstyled">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                                <div class="br"></div>
                                <a href="#">
                                    <h3 class="f_p f_size_16 f_600 w_color">Charles</h3>
                                </a>
                                <h5>Creative Director</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="ex_team_item">
                        <img src="{% static 'assets/img/team/team_04.jpg' %}" alt="">
                        <div class="team_content">
                            <a href="#">
                                <h3 class="f_p f_size_16 f_600 t_color3">Steve</h3>
                            </a>
                            <h5>Software Engineer</h5>
                        </div>
                        <div class="hover_content">
                            <div class="n_hover_content">
                                <ul class="list-unstyled">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                                <div class="br"></div>
                                <a href="#">
                                    <h3 class="f_p f_size_16 f_600 w_color">Steve</h3>
                                </a>
                                <h5>Software Engineer</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="ex_team_item">
                        <img src="{% static 'assets/img/team/team_5.jpg' %}" alt="">
                        <div class="team_content">
                            <a href="#">
                                <h3 class="f_p f_size_16 f_600 t_color3">Nguyen</h3>
                            </a>
                            <h5>Designer</h5>
                        </div>
                        <div class="hover_content">
                            <div class="n_hover_content">
                                <ul class="list-unstyled">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                                <div class="br"></div>
                                <a href="#">
                                    <h3 class="f_p f_size_16 f_600 w_color">Nguyen</h3>
                                </a>
                                <h5>Designer</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="ex_team_item">
                        <img src="{% static 'assets/img/team/team_6.jpg' %}" alt="">
                        <div class="team_content">
                            <a href="#">
                                <h3 class="f_p f_size_16 f_600 t_color3">Mariam</h3>
                            </a>
                            <h5>Designer</h5>
                        </div>
                        <div class="hover_content">
                            <div class="n_hover_content">
                                <ul class="list-unstyled">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                                <div class="br"></div>
                                <a href="#">
                                    <h3 class="f_p f_size_16 f_600 w_color">Mariam</h3>
                                </a>
                                <h5>Designer</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="ex_team_item">
                        <img src="{% static 'assets/img/team/team_7.jpg' %}" alt="">
                        <div class="team_content">
                            <a href="#">
                                <h3 class="f_p f_size_16 f_600 t_color3">Tobi</h3>
                            </a>
                            <h5>Designer</h5>
                        </div>
                        <div class="hover_content">
                            <div class="n_hover_content">
                                <ul class="list-unstyled">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                                <div class="br"></div>
                                <a href="#">
                                    <h3 class="f_p f_size_16 f_600 w_color">Tobi</h3>
                                </a>
                                <h5>Designer</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="ex_team_item">
                        <img src="{% static 'assets/img/team/team_8.jpg' %}" alt="">
                        <div class="team_content">
                            <a href="#">
                                <h3 class="f_p f_size_16 f_600 t_color3">Alex</h3>
                            </a>
                            <h5>Designer</h5>
                        </div>
                        <div class="hover_content">
                            <div class="n_hover_content">
                                <ul class="list-unstyled">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                                <div class="br"></div>
                                <a href="#">
                                    <h3 class="f_p f_size_16 f_600 w_color">Alex</h3>
                                </a>
                                <h5>Designer</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="ex_team_item">
                        <img src="{% static 'assets/img/team/team_9.jpg' %}" alt="">
                        <div class="team_content">
                            <a href="#">
                                <h3 class="f_p f_size_16 f_600 t_color3">Raheem</h3>
                            </a>
                            <h5>Designer</h5>
                        </div>
                        <div class="hover_content">
                            <div class="n_hover_content">
                                <ul class="list-unstyled">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                                <div class="br"></div>
                                <a href="#">
                                    <h3 class="f_p f_size_16 f_600 w_color">Raheem</h3>
                                </a>
                                <h5>Designer</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}