{% load static %}

<footer class="footer_area footer_area_four f_bg">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="f_widget company_widget">
                            <a href="{% url 'core:index' %}" class="f-logo"><img src="{% static 'assets/img/logo.png' %}" srcset="img/logo2x.png 2x" alt=""></a>                     
                            <div class="widget-wrap">
                                <!-- <p class="f_400 f_p f_size_15 mb-0 l_height34"><span>Email:</span> <a href="mailto:saasland@gmail.com" class="f_400">saasland@gmail.com</a></p>
                                <p class="f_400 f_p f_size_15 mb-0 l_height34"><span>Phone:</span> <a href="tel:948256347968" class="f_400">+948 256 347 968</a></p> -->
                            </div>
                            <!-- <form action="#" class="f_subscribe mailchimp" method="post">
                                <input type="text" name="EMAIL" class="form-control memail" placeholder="Email">
                                <button class="btn btn-submit" type="submit"><i class="ti-arrow-right"></i></button>
                                <p class="mchimp-errmessage" style="display: none;"></p>
                                <p class="mchimp-sucmessage" style="display: none;"></p>
                            </form> -->
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="f_widget about-widget pl_40">
                            <h3 class="f-title f_600 t_color f_size_18 mb_40">Company</h3>
                            <ul class="list-unstyled f_list">
                                <li><a href="{% url 'core:team' %}">Team</a></li>
                                <li><a href="#">Android app <small>(coming soon)</small></a></li>
                                <li><a href="#">iOS app <small>(coming soon)</small></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="f_widget about-widget">
                            <h3 class="f-title f_600 t_color f_size_18 mb_40">Pages</h3>
                            <ul class="list-unstyled f_list">
                                <li><a href="{% url 'core:index' %}">Home</a></li>
                                <li><a href="{% url 'core:how-it-works' %}">How it works</a></li>
                                <li><a href="{% url 'core:samples' %}">Samples</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="f_widget about-widget">
                            <h3 class="f-title f_600 t_color f_size_18 mb_40">Contact</h3>
                            <ul class="list-unstyled f_list">
                                <li><a href="{% url 'core:contact' %}">Support</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 col-md-5 col-sm-6">
                        <p class="mb-0 f_400">© 2019 BrandShack, LLC. All rights reserved.</p>
                    </div>
                    <!-- <div class="col-lg-4 col-md-3 col-sm-6">
                        <div class="f_social_icon_two text-center">
                            <a href="#"><i class="ti-facebook"></i></a>
                            <a href="#"><i class="ti-twitter-alt"></i></a>
                            <a href="#"><i class="ti-vimeo-alt"></i></a>
                            <a href="#"><i class="ti-pinterest"></i></a>
                        </div>
                    </div> -->
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <ul class="list-unstyled f_menu text-right">
                            <!-- <li><a href="#">Terms of Use</a></li>
                            <li><a href="#">Privacy Policy</a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>